@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #304338;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 15px rgba(0,0,0,.08);
}

nav {
    max-width: 1150px;
    margin: auto;
    padding: 17px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h2 {
    color: #315b43;
}

nav h2 span {
    color: #7b9b82;
}

nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

nav a {
    color: #405449;
    text-decoration: none;
    font-weight: 600;
    padding: 9px 13px;
    border-radius: 10px;
}

nav a:hover {
    color: #315b43;
}

/* HERO */

.hero {
    min-height: 85vh;
    display: flex;
    align-items: center;
}

.hero-content {
    max-width: 1150px;
    width: 100%;
    margin: auto;
    padding: 30px 20px;
    color: #304338;
}

.hero-content h1 {
    font-size: clamp(40px, 7vw, 72px);
    line-height: 1.1;
    margin: 20px 0;
}

.hero-content p {
    max-width: 650px;
    margin-bottom: 25px;
}

/* BUTTON */

.btn {
    display: inline-block;
    background: #6f9277;
    color: white;
    padding: 12px 22px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600
